*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding: 3rem; }

::selection {
  background-color: #55c57a;
  color: #fff; }

.footer {
  color: red; }
