.header{
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.5), rgba(40,180,133,0.8)),url(../../components/homepagecomponents/header/nat-1-large.jpg);
    height: 50vh;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}




